/*CSS para dar vuelta las cartas de juegoMemoria.js*/
.mazo img {
  visibility: hidden;
}

.mazo .carta.voltear {
  cursor: default;
  transform: rotateY(180deg);
  transition: transform 0.3s linear;
}

.voltear img {
  visibility: visible;
}

.mazo .carta.igual {
  visibility: visible;
  cursor: default;
  animation: pulsar 1s;
}

/*KeyFrames*/
/*Juego de la Memoria*/
@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*Caja de Comentarios*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}